@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
  
    :root  {
      --background: 215 44% 98%;
      --foreground: 215 5% 10%;
      --card: 215 44% 98%;
      --card-foreground: 215 5% 15%;
      --popover: 215 44% 98%;
      --popover-foreground: 215 95% 10%;
      --primary: 215 54% 63%;
      --primary-foreground: 0 0% 0%;
      --secondary: 215 30% 90%;
      --secondary-foreground: 0 0% 0%;
      --muted: 177 30% 95%;
      --muted-foreground: 215 5% 40%;
      --accent: 177 30% 90%;
      --accent-foreground: 215 5% 15%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 215 5% 98%;
      --border: 215 30% 82%;
      --input: 215 30% 50%;
      --ring: 215 54% 63%;
      --radius: 0.5rem;
    }
    .dark  {
      --background: 215 44% 10%;
      --foreground: 215 5% 98%;
      --card: 215 44% 10%;
      --card-foreground: 215 5% 98%;
      --popover: 215 44% 5%;
      --popover-foreground: 215 5% 98%;
      --primary: 215 54% 63%;
      --primary-foreground: 0 0% 0%;
      --secondary: 215 30% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: 177 30% 25%;
      --muted-foreground: 215 5% 65%;
      --accent: 177 30% 25%;
      --accent-foreground: 215 5% 95%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 215 5% 98%;
      --border: 215 30% 50%;
      --input: 215 30% 50%;
      --ring: 215 54% 63%;
      --radius: 0.5rem;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }